body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.page-container {
  display: flex;
  min-height: 100vh;
  padding-left: 216px;
}

/* 左侧菜单栏样式 */
.sidebar {
  width: 216px;
  background-color: #00465e;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  height: 100vh; 
  box-sizing: border-box; 
  overflow-y: auto; 
  position: fixed; 
  overflow: hidden;
  left: 0;
  top: 0;
}

.nav-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 1rem;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.nav-links li {
  margin-bottom: 2rem;
}

.nav-links a {
  color: #f6f9f5;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 1rem 0; 
  transition: all 0.3s ease;
  border-radius: 4px;
  font-size: 2rem; 
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.contact-info {
  color: #f6f9f5;
  text-align: center;
  font-size: 0.9rem;
  width: 100%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.contact-info p {
  margin: 0.5rem 0;
}

/* 主内容区样式 */
@media (max-width: 600px) {
  .description {
      text-align: left;
      hyphens: none;
  }
}

.content-area {
  flex: 1;
  padding: 2rem;
  height: 100vh;
  overflow-y: auto;
  background-color: #f6f9f5;
  background-image: url('images/home.png');
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start; 
  padding-top: 35vh; 
  justify-content: center; 
}

.content-card {
  background-color: rgba(246, 249, 245, 0.85);
  border-radius: 16px;
  padding: 3rem 4rem;
  max-width: 680px; 
  margin: 0 auto;
  box-shadow: 0 8px 20px rgba(0, 70, 94, 0.1);
  margin-top: 10vh; 
  transform: translateY(-50%); 
  width: 90%; 
  max-width: 800px;
}

.name-title {
  color: #00465e;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

.description {
  color: #00465e;
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 0 auto;
  text-align: center; 
  max-width: 580px; /* 控制文本宽度 */
  padding: 0 1rem; /* 保证两侧留白 */
}

header {
  background-color: rgba(30, 186, 234, 0.9);
  color: white;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

header h1 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

header h2 {
  font-weight: normal;
  margin-top: 0;
  font-size: 1.5rem;
}

.main-content {
  color: #333;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-content strong {
  color: #00465e;
}